form
{
	text-align:center;
	margin-top:20%;
}
html
{
	background-image: url("BKG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	background-color: rgba(225,90,108,0.1);
}

body{
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 20%;
	margin-bottom: 10%;
}

form{
	padding-bottom: 2.5%;
	padding-top: 2.5%;

}

b{
	color: rgba(255, 255,255, 0.8);
	font-size: 24px;
}

input[type=text], input[type=password], input[type=number]
{
	width: 50%;
	padding: 20px 15px;
	margin: 5px 3px;
	box-sizing: border-box;
	border-radius: 30%;
}
button {
		background-color: rgba(200,43,180,0.4);
		color: #ffe4e1;
		padding: 14px 20px;
		margin: 8px 0;
		border-style:ridge;
		cursor: pointer;
		width: 20%;
		border-radius: 12%;
}
